/******************************************************************************
    Assets for this web page:

    Font: Santio bold, Roboto, Charm (Mr Dafoe was replaced by Charm!)
    Colors: #e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff
*/
@font-face {    font-family: 'Santio-Bold'; src: url('../fonts/Santio/Santio-Bold.ttf');    }
@font-face {    font-family: 'Roboto';      src: url('../fonts/Roboto/Roboto-Regular.ttf'); }
@font-face {    font-family: 'Charm-Bold';  src: url('../fonts/Charm/Charm-Bold.ttf');      } 


/******************************************************************************
Global styles
*/

* { 
    /* remove margins and paddings for all elements 
    (makes styling little bit easier) */
    margin: 0;
    padding: 0;
}
html{
    /* smooth scrolling should be a must-have */
    scroll-behavior: smooth;
}
body {
    font-family: 'Santio-Bold', sans-serif;
}
a {
    text-decoration: none;
}
/* all span inside of paragraphs have the same design! */
p span {
    background: rgba( 0, 0, 0, 0.7);
    color: white;
    padding-bottom: 1%;
}


/******************************************************************************
    Section 1: Cleos (containing the parallax)
*/

/*-----------------------------------------------------------------------------
    Parallax background image
*/
.parallax {
    background-image: url("../img/cleo-topper.jpg");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header li {
    display: inline
}

/*-----------------------------------------------------------------------------
Header
*/
header {
    padding: 1% 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: right;
}    
header img {
    width: 2em;
    padding-right: 1%;
    vertical-align: middle;
}
header a {
    padding-bottom: 5px;
    color: white;
    border-bottom: 1px solid #e7bc0e;
}
/*-----------------------------------------------------------------------------
    article 1: cleos all over the world 
*/
.cleos > div {
    padding-left: 10%;
    width: 28%;
}
.cleos > div:first-of-type {
    margin-top: 20vh;
    font-size: 8vh;
    color: white;
}    
.cleos > div:last-of-type {
    padding-top: 5vh;
    font-family: 'Charm', cursive;
    font-size: 5vh;
    font-style: italic;
    letter-spacing: -2px;
    color: #e7bc0e;
}
.cleos > div > span {
    font-family: 'roboto', sans-serif;
}

/*-----------------------------------------------------------------------------
    article 2: real live cleos
*/
.real-live-cleos {
    padding: 20%;
    width: 50%;
    font-size: 4vh;
    font-stretch: condensed;
    color: #6bc1a3;
    line-height: 1.5;
}
.real-live-cleos span:last-of-type {
    color: #6bc1a3;
}

/*-----------------------------------------------------------------------------
    article 3: some statistics
*/
.stats {
    padding-left: 15%;
}
.stats div{
    padding-bottom: 20%;
}
.stats p {
    font-size: 3.2em;
}
.stats h6 {
    font-size: 12em;
}
.stats img {
    width: 20vh;
}
.stats div:nth-of-type(1) {
    color: #e7bc0e;
}
.stats div:nth-of-type(2) {
    color: #cb91b6;
}
.stats div:nth-of-type(3) {
    color: #6bc1a3;
}
.stats div:nth-of-type(odd) img {
    padding-bottom: 20vh;
}
.stats div:nth-of-type(even) img {
    padding-bottom: 10vh;
}
/*-----------------------------------------------------------------------------
    article 4: the unsung-heroines
*/
.unsung-heroines{
    padding: 0 10% 10% 30%;
    color: #7eb8e1;
    font-size: 4vh;
    line-height: 1.6;
}


/******************************************************************************
    Section 2: empty content, but overlayed background images!
    Because we have no content we have to provide a height!
*/
.family {
    height: 100vh;
    background: 
        url(../img/kid.png) bottom/cover no-repeat, 
        url(../img/see.png) bottom/cover no-repeat;
}

/******************************************************************************
    Section 3: Help & donate
*/
#donate {
    padding: 20% 20% 0%;
    background: black;
    color: #efefef;
}
#donate p {
    width: 80%;
    font-size: 8vh;
    padding-bottom: 5%;
}
#donate a {
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    color: #efefef;
    padding: 2.5% 5%;
    border: 3px solid #efefef;
    transition: 0.5s;
}
#donate a:hover {
    box-shadow: 6px 6px 0 #efefef;
    transition: 0.5s;
}

/******************************************************************************
    Footer: the final part...
*/
footer {
    background: black;
    color: #efefef;
    text-align: center;
    padding: 20% 0 2%;
}

footer a {
    color: #6bc1a3;
}
